.hero {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #0c0c1d, #111132);
  overflow: hidden;
  .container {
    display: flex;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: 40px;
  }
  .ContainerText {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 30px;
    h2 {
      letter-spacing: 10px;
      color: rebeccapurple;
      font-size: 32px;
    }
    h1 {
      font-size: 64px;
      letter-spacing: 1px;
    }
    .buttons {
      display: flex;
      gap: 20px;
      button {
        padding: 12px 16px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 300;
      }
      button:first-of-type {
        background-color: transparent;
        color: whitesmoke;
        border: 1px solid whitesmoke;
        transition: all .5s;
        &:hover{
          transform: translateY(-3px);
          color: black;
          background-color: whitesmoke;
          border-color: transparent;

        }
      }
      button:last-of-type {
        background-color: whitesmoke;
        color: black;
        border: 1px solid transparent;
        transition: all .5s;
        &:hover{
          transform: translateY(-3px);
          color: whitesmoke;
          background-color: transparent;
          border-color: whitesmoke;

        }
      }
    }
    img {
      width: 40px;
      cursor: pointer;
    }
  }
  .imag {
    width: 50%;
    img {
      max-width: 100%;
      height: 70vh;
    }
  }
}
@media (max-width: 800px) {
  .hero {
    .container {
      left: 12px;
      h1 {
        font-size: 58px;
        line-height: 64px;
        margin-bottom: 5px;
      }
    }
  }
}
@media (max-width: 620px) {
  .hero {
    .container {
      flex-direction: column-reverse;
      left: 7px;
    }
    .ContainerText {
      width: 100%;
      gap: 12px;
    }
    .imag {
      img {
        height: 40vh;
        padding-top: 61px;
        display: block;
      }
    }
  }
}
